@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
    font-weight: inherit;
    font-size: inherit;
}

body {
    background-color: #028391;
    box-sizing: border-box;
    height: 100vh;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #01204E;
    position: relative;
    margin: 0 auto;
    width: 100%;
}

.logodaempresa {
    position: relative;
    width: 100%;
}

.cabecalho-menu {
    display: flex;
    text-decoration: none;
    gap: 48px;
    margin: 0%;
}

.logo {
    width: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 40px;
}

.cabecalho-menu-item {
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
}

.primeira_guia {
    width: auto;
    padding: 50px;
    margin: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: justify;
}

.titulo-da-pagina {
    display: block;
    font-size: 50px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: #F6DCAC;
}

.subtitulo-da-pagina {
    font-size: 30px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    margin: auto;
    color: #FEAE6F;
}

.imagemprincipal {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.segunda_guia {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 50px;
    margin: 30px;
}

.titulo-do-sobre {
    font-size: 50px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: #F6DCAC;
}

.sobre-da-pagina {
    font-size: 30px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    padding: 30px;
    margin: 30px;
    font-weight: lighter;
    color: #FEAE6F;
}


.conheca-os-planos {
    font-size: 50px;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.introducao_dos_planos {
    color: #FEAE6F;
}

.planos-da-empresa {
    display: flex;
    justify-content: center;
    margin: 4%;
    margin-top: 0%;
    gap: 32px;
    flex-wrap: wrap;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}

.textodocabecalhodosplanos {
    background-color: rgb(16, 69, 139);
    width: 100%;
    border-radius: 13px 13px 0px 0px;
    height: 35px;
    color: rgb(255, 255, 255);
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
}

.primeiro_container {
    width: 260px;
    min-height: 296px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 6px;
    margin: 10px;
    font-family: "Poppins", sans-serif;
}

.segundo_container {
    width: 260px;
    min-height: 296px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 6px;
    margin: 10px;
    font-family: "Poppins", sans-serif;
}

.terceiro_container {
    width: 260px;
    min-height: 296px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 6px;
    margin: 10px;
    font-family: "Poppins", sans-serif;
}

.planos_da_empresa_textos {
    color: rgb(0, 44, 83);
    font-weight: bold;
    font-size: 80px;
    text-align: center;
    font-size: 30px;
    margin: 2%;
    font-family: "Poppins", sans-serif;
}

.planos_da_empresa_textos2 {
    margin: 5%;
    font-size: 20px;
    text-align: center;
    font-family: "Poppins", sans-serif;

}

.preco_do_plano {
    display: grid;
    font-size: 30px;
    border-radius: 13px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    background-color: rgb(16, 69, 139);
    color: rgb(255, 255, 255);
}

.textodoscontainers {
    margin: 13px 0px;
    font-family: Gotham Rounded, BlinkMacSystemFont;
    font-size: 16px;
    text-align: center;
    color: rgb(11, 188, 21);
}

.texto-pequeno {
    font-family: "Poppins", sans-serif;
    font-size: 10px;
    opacity: 0, 5;
    text-align: center;

}